body{
    background-color: #6E6E6DFF;
}
.img {
    background-color: aliceblue;
    padding: 10px;
}

img {
    width: 24em;
    height: 32em;
}

.profile, .stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
td {
    padding: 20px;
    color: #FCF6F5FF;
}

th {
    padding: 20px;
}
.second-line {
    color: #FCF6F5FF;
}
h1{
    text-align: center;
    margin-top: 3em;
    color: #FCF6F5FF;
}

.stats{
    justify-content: space-evenly;
}

h1, h3, p{
    text-align: center;
}

table, .container {
    border: 3px solid black;
    border-collapse: collapse;
}

.container {
    padding: 20px;
    background-color: #f7cdcf;
}
h3{
    padding: 0 30px 20px 30px;
}

.first-line {
    background-color: #f7cdcf;
}