.container{
    display: flex;
}
h1,h2,h6,p{
    text-align: center;
}
.img{
    margin-left: 10em;
}
img{
    border-radius: 30px;
    width: 522px;
    height: 542px;
}
h1{
    font-size: 4em;
    margin-left: 3em;
}
.slide.active,.slide{
    border: 3px solid black;
    padding: 0.5em;
    border-radius: 50px;
}
.slide {
    position: absolute;
    width: 30em;
    height: 12em;
    margin-left: 3em;
    display: none;
}
.slide.active{
    display: block;
}
.slider-wrapper{
    position: relative;
}
.top,.bottom{
    display: flex;
    justify-content: space-evenly;
}
.slider-nav{
    position: absolute;
    display: flex;
    transform: translate(59em,-9em);
}
.slider-btn{
    background-color: rgb(151,151,151);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
}
.slider-btn.active{
    background-color: black;
}
#nt{
    transform: translate(42.6em,11.22em);
}

table{
    margin: 3em;
    width: 95%;
    border-collapse: collapse;
}
th,td{
    text-align: center;
    padding: 1em;
}
th{
    background-color: rgba(71, 71, 71, 0.3);
}
.t-body{
    background-color: rgba(71, 71, 71, 0.1);
}